/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

input, textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  border-left: solid 1px #444;
  border-right: solid 1px #444;
}

thead {
  text-align: left;
}

th,td {
  border-bottom: solid 1px #444;
  padding: 5px 0;
  line-height: 1.5;
}

th {
  border-top: solid 1px #444;
}

th span {
  margin-left: 10px;
}